<h1>New subtraction</h1>

<form action = "/wizard_subtraction">
<label for = "first_number"> Subtract this: </label>
<input id = "first number" name = "first_number">
<label for = "second number"> from this:</label>
<input id = "second number" name = "second_number">
<button> Subtract! </button>

</form>
